.onclick_Hover {
    cursor: pointer;
}

.video_Player{

}

.videos_table{

}

.video_thumbnail {
    width: 10vw
}

.video_Player {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}