.onclick_Hover {
    cursor: pointer;
}

.videos_table{
    width:50vw;
}

#CurrentlyPlayingVideo {
    background-color: #167dc640;
}

table {
    border-collapse: collapse;
}

.video_Player{
    margin-top:15px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.VideoTitle {
    display:block;
    padding-left: 10px;
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

.thumbnail_cell {
    width: 100px;
}
.video_Player tr:nth-child(odd) {
    background: #282828
}

input,
button {
    background-color:inherit;
    color:inherit;
}

body {
    background-color: #181a1b;
    border-color: rgb(115, 107, 94);
    color: rgb(232, 230, 227);
}

.table_scroll {
    height: 400px;
    overflow-y: auto;
    display: block;
}

.video_thumbnail {
    display:block;
    width:100%;
}

